{% include 'navbar.html' %}
<h1>home templates</h1>

<!-- temp -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django</title>
</head>
<body>
    <h1>Hello, Django!</h1>
        <td>
            <a href="{% url 'about' %}">About Page</a>
                
        </td>\
        
        <nav>
            <div class="nav-item">
                <a href="{% url 'home' %}">Home</a>     
            </div>
             <div class="nav-item"> 
                <a href="{% url 'about' %}">About</a>
            </div>
             <div class="nav-item">

                <a href="{% url 'contact' %}">Contact</a>
            </div>
        </nav>
</body>
</html>